<!DOCTYPE html>
<htm lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nigerian navy secondary school imeri E-libary</title>
    <link rel="website icon" type="png" href="school-logo.png">
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="parent">
        <nav>
            <img src="school-logo.png" width="60px" height="70px">
            <p style="color: #424141;" >NNSS,IMERI</p>
        <ul>
            <li><a href="#">HOME</a><li>
            <li><a href="#">CONTACT</a><li>
            <li><a href="#">ABOUT</a><li>
            <li><a href="#">LATEST</a><li>
            <li><a href="#">NEWS</a></li>
        </ul>
        
    </nav>
    </div>
    <div class="slideshow"></div>
    <div class="container">
        <div class="box">
             <span> <h2>Mathimatics</h2></span>
            <span><a href="C:\Users\Prince Chidera\Desktop\school 
                libary\math.html">Learn more</a></span>
            </div>
        <div class="box"> 
            <span> <h2>English</h2></span>
            <span><a href="#">Learn more</a></span>
            </div>
        <div class="box">
           <span> <h2>Physics</h2></span>
          <span><a href="#">Learn more</a></span> 
        
        </div>
        <div class="box"> 
            <span> <h2>Chemistry</h2></span>
            <span><a href="#">Learn more</a></span>
            </div>
        <div class="box"> 
            <span> <h2>Biology</h2></span>
            <span><a href="#">Learn more</a></span>
            </div>
        <div class="box">
             <span> <h2>Data processing</h2></span>
            <span><a href="#">Learn more</a></span>
            </div>
        <div class="box">
             <span> <h2>Agricultural science</h2></span>
            <span><a href="#">Learn more</a></span>
            </div>
        <div class="box"> 
            <span> <h2>Economics</h2></span>
            <span><a href="#">Learn more</a></span>
            </div>
        <div class="box"> 
            <span> <h2>Geography</h2></span>
            <span><a href="#">Learn more</a></span>
            </div>
        <div class="box">
             <span> <h2>Cisco</h2></span>
            <span><a href="#">Learn more</a></span>
            </div>
        <div class="box">
             <span> <h2>Food and nutrition</h2></span>
            <span><a href="#">Learn more</a></span>
            </div>
    </div>
    <div class="lastbox">
        <p> </p>
     <div class="icon">
 <img src="facebook.png" alt="facebook" width="50px" height="50px">
 <img src="twitter.png" alt="twitter" width="50px" height="50px">
 <img src="instagram.png" alt="instagram" width="50px" height="50px">
 <img src="whatsapp.png" alt="whatsapp" width="50px" height="50px">
    </div>
    <p>Nigerian Navy Secondary School <br>
        Imeri,<br>
        Ondo state,<br>
        Contact : 08149507897 <br>
        Email: nnssecondaryschool@gmail.com
    </p>
    <img src="moon_dark_.webp" alt="darkmode" id="darkmode">
</div>

</body>
</html>